@media (width <= 66.25rem) {
    section.hero {
        flex-direction: column-reverse;
    

        & h1 div span {
            display: inline-block;
            overflow: hidden;
            height: 5rem;
            width: min-content;
            vertical-align: bottom;
        }

        & .buttons {
            margin-top: 1rem;
        }
    }
}

@media (width <= 36.25rem) {
    section.hero {
        & h1 {
            font-size: 2rem;
        }

        & h1 div {
            height: 2.5rem;
        }

        & h1 div span {
            display: inline-block;
            height: 2.5rem;

        }

        & .buttons {
            flex-direction: column-reverse;
        }

        & > div:nth-child(2) {
            display: block;
            width: 100%;
            max-width: 19.5rem;
            height: 19.5rem;
        }

        & img[src*= 'stars-1'] {
            top: 20%;
            z-index: 0;
        }
    }
}