@media (width <= 66.25rem) {
    :root {
        --text-sm: 0.875rem;
        --text-base: 1rem;
        --text-lg: 2.4rem;
        --text-xl: 4rem;
    }

    section.hero {
        flex-direction: column-reverse;

        & h1 div span {
            display: inline-block;
            overflow: hidden;
            height: 5rem;
            width: min-content;
            vertical-align: bottom;
        }

        & .buttons {
            margin-top: 1rem;
        }
    }
    
    section.gallery  {
        h2 {
            font-size: var(--text-lg);
        }
        & .content {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (width <= 36.25rem) {
    section.hero {
        & h1 {
            font-size: 2.3rem;
        }

        & h1 div {
            height: 2.85rem;
        }

        & .buttons {
            flex-direction: column-reverse;
        }

        & > div:nth-child(2) {
            display: block;
            width: 100%;
            max-width: 19.5rem;
            height: 19.5rem;
        }

        & img[src*= 'stars-1'] {
            top: 20%;
            z-index: 0;
        }
        
    }
}