@media (width <= 66.25rem) {
    section.hero {
        flex-direction: column-reverse;

        & h1 {
            width: 19.5rem;
            font-size: 2rem;
        }

         h1 div {
            display: inline-block;
            overflow: hidden;
            height: 2.5rem;
            width: min-content;
            vertical-align: bottom;
        }
    }
}

@media (width <= 36.25rem) {
    .hero .buttons {
        flex-direction: column-reverse;
    }
}